body {
    background-color: #f9fbfd;
}

/* card body styling */
#standardCardBody {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
}

/* textarea styling */
#magichole {
    height: 175px;
    background-color: white;
    font-family: 'Cormorant', serif;
    font-size: 2.5em;
}

/* button styling */
button {
    width: 250px;
}